:root {
  --light-3xl: #ffffff;
  --dark-s: #738080;
  --dark-l: #3a424e;
  --dark-2xl: #1c232e;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
