@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/arial-400.woff2") format("woff2"),
    url("../fonts/arial-400.woff") format("woff");
}

:root {
  --main-xs: #fff0f0;
  --main-s: #ffe9e9;
  --main-l: #ffe3e2;
  --main-xl: #f9c4d2;
  --main-2xl: #b18597;
  --main-3xl: #8e5b70;
  --dark-l: #3a424e;

  --max-desktop-width: 1024px;
  --min-mobile-width: 320px;
}

html {
  box-sizing: border-box;

  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--light-3xl);
  line-height: 1;
}

a {
  text-decoration: none;
}
